body{
    margin: 0;
    background-color: lightgray;
    font-family: 'DM Serif Display', serif;


}

nav{
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18pt;

}
